<%- include('../partials/header') %>

<div class="container mt-5">

    <div class="card title-card">
        <h3 class="card-title text-center">Add a Horse</h3>
    </div>

<form class="pb-5" id="new-horse-form" action="/horses" method="POST">
    <h4 class="mt-3">Basic Details</h4>
    <div class="form-row d-flex flex-column flex-sm-row">
        <div class="col sm-6">
        <input name="name" type="text" class="form-control" placeholder="Name">
        </div>
        <div class="col sm-6">
        <input name="age" type="number" class="form-control" placeholder="Age">
        </div>
    </div>
    <div class="form-row d-flex flex-column flex-sm-row">
        <div class="col sm-6">
        <input name="color" type="text" class="form-control" placeholder="Color">
        </div>
        <div class="col sm-6">
        <input name="sex" type="text" class="form-control" placeholder="Sex">
        </div>
    </div>
    <h4 class="mt-3">Feeding Schedule</h4>
    <div class="form-row d-flex flex-column flex-sm-row">
        <div class="col sm-6">
            <input name="amFeed" type="text" class="form-control" placeholder="AM Feed">
        </div>
        <div class="col sm-6">
            <input name="amMeds" type="text" class="form-control" placeholder="AM Meds">
        </div>
    </div>
    <div class="form-row d-flex flex-column flex-sm-row">
        <div class="col sm-6">
            <input name="pmFeed" type="text" class="form-control" placeholder="PM Feed">
        </div>
        <div class="col sm-6">
            <input name="pmMeds" type="text" class="form-control" placeholder="PM Meds">
        </div>
    </div>
    <div class="form-row d-flex flex-column flex-sm-row">
        <div class="col sm-6">
            <input name="middayFeed" type="text" class="form-control" placeholder="Midday feed">
        </div>
        <div class="col sm-6">
            <input name="nightFeed" type="text" class="form-control" placeholder="Night feed">
        </div>
    </div>
    <h4 class="mt-3">Daily Care Routine</h4>
    <div class="form-row">
        <div class="col">
        <input name="turnout" type="text" class="form-control" placeholder="Turnout">
        </div>
        <div class="col">
        <input name="blanket" type="text" class="form-control" placeholder="Blanket">
        </div>
    </div>
    <h4 class="mt-3">Important Notes</h4>
    <div class="form-group">
        <label for="importantInfo">Write additional comments here!</label>
        <textarea name="importantInfo" class="form-control" id="importantInfo" rows="4"></textarea>
    </div>
    
    <input class="btn" type="submit" value="Add">
    
</form>

</div>

<%- include('../partials/footer') %>
