<%- include('../partials/header') %>

<form id="new-horse-form" action="/horses" method="POST">

    <label for="name">Name</label><br>
    <input type="text" name="name"><br><br>
    <label for="age">Age</label><br>
    <input type="number" name="age"><br><br>
    <label for="color">Color</label><br>
    <input type="text" name="color"><br><br>
    <label for="sex">Sex</label><br>
    <input type="text" name="sex"><br><br>

    <h3>Horse Care Details</h3>
    <label for="turnout">Turnout</label>
    <input type="text" name="turnout"><br><br>
    <label for="blanket">Blanket</label>
    <input type="text" name="blanket"><br><br>
    <label for="importantInfo">Important Information</label><br>
    <textarea rows="4" cols="40" name="importantInfo"></textarea>

    <h3>Feed</h3>
    <label for="amFeed">AM Feed</label>
    <input type="text" name="amFeed"><br>

    <label for="amMeds">AM Meds</label>
    <input type="text" name="amMeds"><br>
    
    <label for="middayFeed">Midday Feed</label>
    <input type="text" name="middayFeed"><br>
    
    <label for="pmFeed">PM Feed</label>
    <input type="text" name="pmFeed"><br>
    
    <label for="pmMeds">PM Meds</label>
    <input type="text" name="pmMeds"><br>
    
    <label for="nightFeed">Night Feed</label>
    <input type="text" name="nightFeed"><br>

    <br><br>
    <input type="submit" value="Add Horse">

</form>

<%- include('../partials/footer') %>
