<%- include('./partials/header') %>

<div class="text-center">
    <form>
        <img class="mt-4" src="../images/hoofhub_logo.png" height="200" alt="HoofHub logo">
        <h1 class="h1 mb-3 font-weight-normal">Please sign in</h1>

        <button class="btn btn-lg btn-primary">Sign In</button>
        <!-- <a href="/auth/google">LOG IN</a> -->
    </form>
</div>


<%- include('./partials/footer') %>