<%- include('./partials/header') %>

<div class="homepage">
    <div class="p-5 d-flex justify-content-center justify-content-sm-end min-vh-100">
        
        <div class="row border rounded-5 p-3 me-sm-4 bg-white shadow box-area login-box" style="max-height: 400px; max-width: 400px;">

            <div class="col rounded-4 pb-4 px-4 d-flex flex-column align-items-center justify-content-center"> 
                <div class="img-wrapper">
                    <img class="img-fluid logo-vert" src="/images/logo-vertical.png" style="max-width: 200px; width: 100%;" alt="HoofHub logo"> 
                </div>
                
                <h1 class="fs-6 pb-3 mt-4 text-wrap text-center">Welcome to your horse care hub.</h1>
                <a class="btn btn-lg btn-primary w-100 fs-6 login-btn" href="/auth/google" role="button">Sign In</a> 
            </div>

        </div>
    </div>
</div>
        

<%- include('./partials/footer') %>