<%- include('./partials/header') %>

        <div class="container d-flex justify-content-center align-items-center min-vh-100" style="padding: 0 15px;">
            <div class="row border rounded-5 p-3 bg-white shadow box-area" style="max-width: 400px; width: 100%;">
                <div class="col rounded-4 pb-4 px-4 d-flex flex-column align-items-center justify-content-center"> 
                    <img class="img-fluid" src="../images/hoofhub_logo.png" style="max-width: 250px; width: 100%;" alt="HoofHub logo"> 
                    <h1 class="fs-6 pb-3 text-wrap text-center">Welcome to your horse care hub.</h1>
                    <a class="btn btn-lg btn-primary w-100 fs-6" href="/auth/google" role="button">Sign In</a> 
                </div>
            </div>
        </div>

<%- include('./partials/footer') %>