<%- include('./partials/header') %>

<div class="text-center">
    <form class="login-form">
        <img class="mt-4" src="../images/hoofhub_logo.png" height="200" alt="HoofHub logo">
        <h1 class="h1 mb-3">Please sign in</h1>
        <a class="btn btn-lg btn-primary" href="/auth/google" role="button">Sign In</a>

    </form>
</div>


<%- include('./partials/footer') %>