:root {
    --text: #2E2631;
    --text-lt: #626262;
    --background: #fcfaf7;
    --primary: #eddcd2;
    --button-blu: #39A199;
    --button-lt: #eddcd2;
    --button-hover: #39A199;
    --accent-blu: #23655f;
    --accent-prp: #987174;
    --headings-font: "Francois One", sans-serif;
    --body-font: "Roboto", sans-serif;
}

/*  ====  GLOBAL  ====  */

body {
    background-color: var(--background);
    font-family: var(--body-font);
    padding-top: 80px;
}

footer {
    font-size: 12px;
    background-color: var(--primary);
}

a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    color: var(--button-hover);
}

h1, h2, h3, h4, h5 {
    font-family: var(--headings-font);
}

/*  ====  LOGIN PAGE  ====  */

.homepage {
    margin-top: -80px;
}

.login-box {
    margin-top: 100px;
}

/*  ====  NAV  ====  */

.navbar {
    background: rgb(237,220,210);
    background: linear-gradient(180deg, rgba(237,220,210,1) 39%, rgba(9,9,121,0) 91%);
}

.navbar-scrolled {
    background-color: var(--primary);
    box-shadow: 2px 4px 15px 0px rgba(0,0,0,0.19);
}

.navbar .nav-link {
    font-family: var(--headings-font);
    transition: 0.3s;
}

.navbar .nav-link:hover {
    color: var(--button-hover);
    border-bottom: 3px solid var(--button-hover);
    margin-bottom: -3px;
}

.navbar .nav-link.active {
    color: var(--button-hover);
}

/*  ====  BUTTONS & ICONS  ====  */

.btn {
    font-family: var(--headings-font);
    color: var(--text);
    background-color: var(--button-lt);
    border: none;
    transition: 0.2s;
}

.btn:hover {
    color: var(--button-blu);
    background-color: var(--button-lt);
    border: none;
    outline: 2px solid var(--button-blu);
}

.trash-btn:hover,
.trash-icon:hover {
    color: rgb(177, 0, 0);
    outline: none;
}

.arrow-btn {
    color: var(--accent-prp);
}

.edit-btn-white:hover,
.edit-icon-white:hover,
.arrow-btn:hover,
.arrow-icon:hover {
    outline: none;
    color: var(--button-blu);
}

.edit-btn-brwn,
.edit-icon-brwn {
    font-family: var(--body-font);
    font-size: 14px;
    background-color: var(--background);
}

.edit-btn-brwn:hover,
.edit-icon-brwn:hover {
    outline: none;
    color: var(--button-blu);
}

.remove-btn {
    color: rgb(178, 0, 0);
}

.remove-btn:hover {
    outline: 2px solid rgb(178, 0, 0);
    color: rgb(178, 0, 0);
}

.remove-btn-txt {
    font-size: 12px;
    color: rgb(178, 0, 0);
}

/*  ====  FORMS  ====  */

.form-container {
    background-color: white;
    padding: 30px 70px;
    border-radius: 10px;
    box-shadow: 2px 4px 15px 0px rgba(0,0,0,0.25);
    max-width: 650px;
}

.form-container h2 {
    color: var(--accent-prp);
    font-size: 25px;
}

.form-title {
    font-size: 30px;
}

label {
    margin-top: 5px;
    color: var(--text);
}

input[type="text"] {
    color: var(--text-lt);
}

input[type="text"]:focus{
    outline: 2px solid var(--button-hover);
}

.form-check-input {
    outline: 1px solid var(--text);
    font-size: 25px;
}

.form-check-input:checked {
    background-color: var(--button-hover);
}

/*  ====  SECTIONS & CARDS  ====  */

.section-title {
    font-family: var(--headings-font);
    font-size: 30px;
}

.horse-card {
    background-color: var(--background);
    color: var(--text);
    margin-bottom: 5px;
    padding: 15px;
    text-align: center;
    width: 200px;
}

.horse-card p {
    font-size: 14px;
    margin: 0;
}

.feed-text {
    font-size: 14px;
}

/* XS SCREENS */
@media (max-width: 576px) {
    .homepage {
        background: url('../images/background-image.jpg');
        background-position: 50% 100%;
        background-size: 70vh;
        background-repeat: no-repeat;
        background-color: white;
    }

    .login-box {
        position: relative;
        margin-top: 20%;
        padding-bottom: 0;
        height: 250px;
        width: 80%;
    }

    .img-wrapper {
        width: 100px;
    }

    .login-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        height: 35px;
        font-size: 14px;
    }

    .navbar {
        background-color: var(--primary);
    }

    .navbar-nav .nav-link {
        font-size: 22px;
        margin-top: 3px;
      }

    .barn-card-title {
        font-size: 20px;
    }

    .barn-contact {
        font-size: 10px;
    }

    .horse-card {
        width: 300px;
    }
}

/* SM SCREENS */
@media (min-width: 576px) {
    .homepage {
        background: url('../images/background-image.jpg');
        background-position: 50% 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: white;
    }

    .login-box {
        width: 80%;
        height: 250px;
    }

    .img-wrapper {
        width: 100px;
    }
    
    .login-btn {
        height: 35px;
    }

    .navbar {
        height: 80px;
    }
  
    .navbar-nav .nav-link {
      font-size: 20px;
    }

    .navbar-brand {
        font-size: 40px;
    }

    .barn-contact {
        font-size: 12px;
    }

    .barn-card-title {
        font-size: 22px;
    }

    .chores-list {
        min-width: 400px;
    }
}

/* MD SCREENS */
@media (min-width: 768px) {
    .barn-card-title {
        font-size: 25px;
    }
    .barn-contact {
        font-size: 14px;
    }

    .login-box {
        height: 350px;
        width: 350px;
    }

    .img-wrapper {
        margin-top: 15px;
        width: 150px;
    }
    
    .login-btn {
        height: 45px;
    }
}

/* LG SCREENS */
@media (min-width: 992px) {

}

/* XL SCREENS */
@media (min-width: 1200px) {

}

/* XXL SCREENS */
@media (min-width: 1400px) {

}