:root {
    --text: #0f1702;
    --background: #f6ffef;
    --primary: #8db7ac;
    --accent-ylw: #ded8b2;
    --accent-pnk: #eac0b0;
    --accent-brwn: #d0a7a3;
    --accent-drk: #245d67;
}

body {
    background-color: var(--background);
    font-family: "Roboto", sans-serif;
}

.btn {
    color: var(--text);
    background-color: var(--primary);
    border: none;
}

.btn:hover {
    color: var(--text);
    background-color: var(--secondary);
}

h1 {
    font-family: "Francois One", sans-serif;
}

/* CARD STYLES */
.barn-card {
    box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.4);
    height: 300px;
    border: none;
}

.card-title a {
    text-decoration: none;
    color: var(--text)
}

.horses-btn,
.chores-btn,
.contacts-btn {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horses-btn {
    background-color: var(--accent-ylw);
}

.chores-btn {
    background-color: var(--accent-pnk);
}

.contacts-btn {
    background-color: var(--accent-brwn);
}

.horse-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-ylw);
    font-size: 16px;
    height: 50px;
    width: 75px;
    padding: 0;
}

.horse-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.horse-card-title {
    padding: 0;
    margin: 0;
}

.card-body {
    overflow: hidden;
}
  
/* NAVBAR STYLES */

.navbar {
    background-color: var(--primary);
}

.navbar-brand {
    font-family: "Francois One", sans-serif;
}

/* SM SCREENS */
@media (min-width: 576px) {
    .navbar {
      height: 80px;
    }
  
    .navbar-nav .nav-link {
      font-size: 25px;
    }

    .navbar-brand {
        font-size: 40px;
    }
}

/* MD SCREENS */
@media (min-width: 992px) {
    .horse-card {
        height: 50px;
        width: 85px;
    }
}

/* LG SCREENS */
@media (min-width: 1200px) {
    .horse-card {
        height: 50px;
        width: 100px;
    }
}

/* XL SCREENS */
@media (min-width: 1200px) {
    .horse-card {
        height: 50px;
        width: 100px;
    }
}

/* XXL SCREENS */
@media (min-width: 1200px) {
    .horse-card {
        height: 50px;
        width: 120px;
    }
}