:root {
    --text: #2E2631;
    --text-lt: #626262;
    --background: #f0efeb;
    --primary: #eddcd2;
    --button: #eddcd2;
    --button-hover: #39A199;
    --button-hover-lt: #f3e6de;

}

body {
    background-color: var(--background);
    font-family: "Roboto", sans-serif;
}

main {
    padding-top: 80px;
}

/* NAVBAR STYLES */
.navbar {
    background-color: var(--primary);
}

.navbar-brand {
    font-family: "Francois One", sans-serif;
}

.navbar .nav-link {
}

.navbar .nav-link:hover {
    color: var(--button-hover);
    border-bottom: 3px solid var(--button-hover);
    margin-bottom: -3px;
}


.btn {
    color: var(--text);
    background-color: var(--button);
    border: none;
}

.btn:hover {
    color: var(--button-hover);
    background-color: var(--button-hover-lt);
}

h1, h2, h3, h4, h5 {
    font-family: "Francois One", sans-serif;
}

/* BARN CARD STYLES */
.barn-card {
    background-color: var(--background);
    border: none;
    box-shadow: none;
    border-radius: 10px;
    padding: 8px;
}

.barn-card-title {
    font-family: "Francois One", sans-serif;
    font-size: 25px;
}

.barn-contacts,
.barn-edit {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    flex-direction: row;
}

.barn-contacts-sm {
    font-size: 12px;
}

.barn-edit-btn {
    background-color: var(--background);
    color: var(--accent-drk);
    font-size: 14px;
}

.card-title a {
    text-decoration: none;
    color: var(--text)
}

.horses-btn,
.chores-btn,
.contacts-btn {
    background-color: var(--button);
    font-family: "Francois One", sans-serif;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horses-btn {
    background-color: var(--button);
}

.chores-btn {
    background-color: var(--button);
}

.contacts-btn {
    background-color: var(--button);
}

.card-body {
    overflow: hidden;
}

/* HORSE LIST STYLES */
.horse-list {
    max-height: 300px;
    overflow: scroll;
}

/* BARN DETAIL CARD STYLES */
.barn-show-card {
    background-color: var(--background);
    border: none;
    box-shadow: none;
    border-radius: 10px;
    padding: 8px;}

.horse-detail-card {
    background-color: var(--background);
    color: var(--text);
    margin-bottom: 5px;
    padding: 15px;
    text-align: center;
}

.horse-detail-card h3,
.horse-detail-card h4 {
    font-size: 14px;
    margin: 5px 0 5px 0;
}

.horse-detail-card h4 {
    font-family: "Roboto", sans-serif;
}


.horse-detail-card p {
    font-size: 14px;
    margin: 0;
}




/* FORM STYLES */
label {
    font-size: 12px;
}

input[type="text"] {
    color: var(--text-lt);
}

/* SM SCREENS */
@media (min-width: 576px) {
    .navbar {
      height: 80px;
    }
  
    .navbar-nav .nav-link {
      font-size: 20px;
    }

    .navbar-brand {
        font-size: 40px;
    }
}

/* MD SCREENS */
@media (min-width: 768px) {

}

/* LG SCREENS */
@media (min-width: 992px) {

}

/* XL SCREENS */
@media (min-width: 1200px) {

}

/* XXL SCREENS */
@media (min-width: 1400px) {

}