<%- include('../partials/header') %>

<div class="container mt-5">

    <a class="btn btn-sm mb-3" href="/barns/<%= barn.id %>" role="button">Go back</a>

<div class="card barn-show-card">
    <h3 class="card-title text-center">Chores at <%= barn.name %></h3>
</div>




<%- include('../partials/footer') %>
