<%- include('../partials/header') %>

<form id="new-form" action="/barns" method="POST">

    <label>Barn Name</label>
    <input type="text" name="name">

    <h3>Address</h3>
    <label for="houseNumber">Number</label>
    <input type="number" name="houseNumber"><br>
    <label for="street">Street</label>
    <input type="text" name="street"><br>
    <label for="city">City</label>
    <input type="text" name="city"><br>
    <label for="state">State</label>
    <input type="text" name="state"><br>
    <label for="zip">Zip</label>
    <input type="number" name="zip"><br>

    <br><br>
    <input type="submit" value="Add Barn">
</form>

<%- include('../partials/footer') %>
