<%- include('../partials/header') %>

<div class="container mt-5 mb-5 d-flex flex-column align-items-center">
    <div class="form-container mb-5 overflow-hidden">
        <form class="form" id="new-barn-form" action="/barns" method="POST">
            <div class="row d-flex justify-content-center">
                <img class="img-fluid mb-3" src="/images/barn-icon-1.png" style="max-width: 150px" alt="Barn icon"> 
                <h4 class="form-title mb-4 text-center">Add a Barn</h4>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="form-title">Address</h2>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label for="name">Barn Name</label>
                    <input name="name" type="text" class="form-control" id="name">                
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label for="streetAddress">Address</label>
                    <input name="streetAddress" type="text" class="form-control" id="streetAddress">
                </div>
            </div>
            <div class="form-row d-sm-flex gx-0 w-100">
                <div class="col-12 col-sm-6 me-sm-1">
                    <label for="city">City</label>
                    <input name="city" type="text" class="form-control" id="city">
                </div>
                <div class="col-12 col-sm-3">
                    <label for="state">State</label>
                    <input name="state" type="text" class="form-control" id="state">
                </div>
                <div class="col-12 col-sm-3 ms-sm-1">
                    <label for="zip">Zip</label>
                    <input name="zip" type="text" class="form-control" id="zip">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <h2 class=>Contact</h2>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label for="contactName">Name</label>
                    <input name="contactName" type="text" class="form-control" id="contactName">
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label for="phone">Phone Number</label>
                    <input name="phone" type="text" class="form-control" id="phone">                
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label for="role">Role</label>
                    <input name="role" type="text" class="form-control" id="role">
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <button type="submit" class="btn mt-4 w-100" value="Add">Add Barn</button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>
